[project]
	description = css for social network icons with multiple sizes, hover, and sprite
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/alberto56
[access "refs/for/refs/*"]
	read = group user/alberto56
	push = group user/alberto56
	label-Code-Review = -2..+2 group user/alberto56
	label-Verified = -1..+1 group user/alberto56
	rebase = group user/alberto56
	removeReviewer = group user/alberto56
	submit = group user/alberto56
[access "refs/heads/*"]
	read = group user/alberto56
	create = group user/alberto56
	push = +force group user/alberto56
	pushMerge = group user/alberto56
[access "refs/tags/*"]
	push = +force group user/alberto56
	pushTag = group user/alberto56
	pushSignedTag = group user/alberto56
